body {
  background-color: #514880;
  margin: 0;
  padding: 0;
  height: 100dvh;
}

/*Principal*/

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  height: 80%;
  margin: 50px auto;
}

#calculadora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 35%;
  min-width: 400px;
  min-height: 630px;
  padding: 0.5em;
  border: 5px outset gray;
  border-radius: 35px;
  box-shadow: 10px 10px 10px black;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.8s;
}

#pantalla {
  width: 90%;
  height: 20%;
  margin: 10px auto;
  padding: 10px;
  text-align: right;
  font-weight: bolder;
  font-size: 4rem;
  border-radius: 20px;
  background-color: gainsboro;
  box-shadow: 2px 2px 2px #999;
  pointer-events: none;
}

/*Buttons*/

.boton {
  background-color: #a4a6ab;
  width: 21%;
  height: 12%;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 0px 6px grey;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}

.boton:hover {
  box-shadow: 0px 0px 3px 3px #ff9f0a;
}

.boton:active {
  background-color: #423c3a;
  color: white;
  text-shadow: 2px 2px 2px #999;
  box-shadow: 0px 0px 3px 3px #999;
}

.operador {
  background-color: orange;
  color: white;
}


.igual,
.reset {
  width: 45%;
  height: 12%;
  color: black;
  background-color: orange;
  text-shadow: 2px 2px 2px black;

}

.igual:active,
.reset:active {
  color: black;
  text-shadow: 2px 2px 2px black;
}


/*Color Button*/

#contenedor-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
 padding: 20px;
  background-color: white;
  border: 5px solid black;
}

#botonColor {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1rem;
}

#color{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}


/*Query*/

@media screen and (max-width: 768px) {
  #container {
    width: 100%;
    height: 90%;
  }

  #calculadora {
    width: 85%;
    height: 100%;
    min-width: unset;
    min-height: unset;
  }

  .boton {
    width: 20%;
    height: 10%;
    font-size: 1.5rem;
    margin: 7px;
  }

  #pantalla {
    font-size: 2rem;
  }

  .boton.igual {
    width: 45%;
    height: 12%;
    color: white;
  }

  .boton.reset {
    width: 45%;
    height: 12%;
    color: black;
    background-color: #ff9f0a;
    text-shadow: 2px 2px 2px white;
  }

}