body {
  background-color: #514880;
  height: 100dvh;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 90%;
  margin: auto;
}

#calculadora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 35%;
  min-width: 400px;
  min-height: 700px;
  padding: 0.5em;
  border: 5px outset gray;
  border-radius: 35px;
  box-shadow: 10px 10px 10px black;
  background-color: rgb(255, 255, 255);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 1;
}

#pantalla {
  width: 90%;
  height: 20%;
  margin: 10px auto;
  padding: 0.1em;
  text-align: right;
  font-weight: bolder;
  font-size: 4rem;
  border-radius: 20px;
  background-color: gainsboro;
  box-shadow: 2px 2px 2px #999;
  pointer-events: none;
}

.boton {
  background-color: #a4a6ab;
  width: 21%;
  height: 12%;
  margin: 0.2em;
  border-radius: 7px;
  box-shadow: 0px 6px grey;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}

.boton:hover {
  box-shadow: 0px 0px 3px 3px #ff9f0a;
}

.boton:active {
  background-color: #423c3a;
  color: white;
  text-shadow: 2px 2px 2px #999;
  box-shadow: 0px 0px 3px 3px #999;
}

.boton.reset {
  width: 45%;
  height: 12%;
  color: black;
  background-color: #ff9f0a;
  text-shadow: 2px 2px 2px white;
}

.boton.reset:active {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.boton.operador {
  background-color: #ff9f0a;
  color: white;
}

.boton.operador:active {
  color: black;
}

.boton.igual {
  width: 45%;
  height: 12%;
  color: white;
}

#contenedor-color {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 5%;
}

#botonColor {
  color: black;
  border: 2px outset;
  border-radius: 10px;
  font-weight: bolder;
}

#botonColor:hover {
  box-shadow: 0px 0px 3px 3px white;
}